{% extends 'baseDiasN.html' %}
{% load static %} 

{% block titulo_dia%} Dia 1 {% endblock %}

{% block lectura_biblica%}
    <b> ANUNCIACION (Lectura del Santo Evangelio: Lucas 1,26s) </b>
    <br>
    Fue enviado el ángel Gabriel de parte de Dios a una ciudad de Galilea llamada Nazaret a una virgen desposada
    con un varón llamado José, de la casa de David; el nombre de la virgen era María. Y presentándose a ella le
    dijo: “Salve, llena de gracia, el Señor está contigo”. Ella se turbo al oír aquellas palabras y se
    preguntaba que podía significar aquella salutación. El ángel dijo: “No temas María, porque has hallado gracia delante
    de Dios y concebirás y darás a luz un hijo a quien pondrán por nombre Jesús. El será grande y llamado Hijo del
    Altísimo y le dará el Señor Dios el trono de David, su padre. Dijo María al ángel: “¿Cómo podrá ser esto,
    pues no conozco varón?” El ángel le contesto: “El Espíritu Santo vendrá sobre ti, y la virtud del Altísimo te
    cubrirá con su sombra, y por eso el hijo engendrado será santo, será llamado Hijo de Dios”. Dijo entonces
    María: “He aquí la esclava de Señor, hágase en mi según tu palabra”.
    <br>
    <b>Palabra de Dios.</b>

{% endblock %}
