{% extends 'baseDiasN.html' %}
{% load static %} 

{% block titulo_dia%} Dia 3 {% endblock %}

{% block lectura_biblica%}
<b> NACIMIENTO</b>
<br>(Lectura del santo evangelio: Lucas 2) <br>
Salió un decreto del emperador Augusto ordenando hacer un ceso del
mundo entero. Y todos iban a inscribirse, cada cual a su ciudad. También
José, que era de la casa y familia de David, subió desde la ciudad de Nazaret
en Galilea, a la ciudad de David, que se llamaba Belén, para inscribirse con
su esposa María que estaba encinta. Y mientras estaba allí le llego el tiempo
de dar a luz, y dio a luz a su hijo primogénito, lo envolvió en panales y lo
acostó en un pesebre porque no había sitio para ellos en la posada. Y en
aquella región habían unos pastores que pasaban la noche al aire libre,
viendo por turnos su rebano. Y un ángel del
Señor se les presento. La gloria del Señor los
envolvió y se llenaron de un gran temor. Al ángel
les dijo: “No temáis, os traigo una buena noticia,
la gran alegría para todo el pueblo: hoy en la
 ciudad de David os ha nacido un Salvador, el
 Mesías, el Señor. Y aquí tenéis la señal;
 encontrareis un Niño envuelto en panales y
 acostado en un pesebre”. Y apareció una legión
 de ángeles que cantaba: “Gloria a Dios en el cielo,
 y paz en la tierra a los hombre que ama el Señor”.
Fueron los pastores y encontraron a María, a
José y al Niño acostado en un pesebre. Y cuantos les oían lo que contaban
los pastores, se maravillaban. Y María guardaba todo esto y lo meditaba en
su corazón. <br>
<b>Palabra del Señor.</b>
{% endblock%}