{% extends 'baseDiasN.html' %}
{% load static %} 

{% block titulo_dia%} Dia 5 {% endblock %}

{% block lectura_biblica%}
<b>LOS MAGOS VISITAN AL NIÑO JESUS</b>
<br>
(Lectura del santo evangelio: Mateo 2)
<br>
Jesús nació en el pueblo de Belén. Entonces llegaron a la ciudad de
unos magos y preguntaron:de los judíos que ha nacido? Pues en el Oriente
vimos su estrella y hemos venido aquí para
adorarlo. Cuando el rey Herodes supo de esto,
se puso muy inquieto, y toda la gente de
Jerusalén también. Entonces el rey llamo a
todos los jefes de sacerdotes y les pregunto
 dónde iba a nacer el Cristo. Ellos le dijeron: “En
Belén de Judá; porque el profeta lo escribió
“Belén, de ti saldrá el
Entonces Herodes llamo en secreto a los magos,
los mando a Belén
averigüen bien respecto a ese niño; y cuando lo
encuentren, avísenme, para que yo también vaya a adorarlo”. Los magos
fueron, y entonces, la estrella que habían visto en el oriente iba delante de
ellos, hasta que por fin se detuvo sobre el lugar donde estaba el
Cristo. Cuando los magos vieron la estrella, se alegraron mucho; y al entrar en la
casa, vieron al Niño con María, su madre. Entonces adoraron al Niño. Luego abrieron sus cajas y le regalaron oro, incienso y
mirra. Después, advertidos en sueños de que no debían volver a donde
estaba Herodes, regresaron a su tierra por otro camino. <br>
<b>Palabra del Señor.</b>

{% endblock%}
