{% extends 'baseDiasN.html' %}
{% load static %} 

{% block titulo_dia%} Dia 6 {% endblock %}

{% block lectura_biblica%}
<b> EL NIÑO JESÚS EN EL TEMPLO</b>
<br>
(Lectura del santo evangelio: Lucas 2, 40s)<br>
El Niño Jesús crecía y se fortalecía lleno de sabiduría, y la gracia de Dios
estaba en El. Sus padres iban cada año a Jerusalén en la fiesta de Pascua.
Cuando tenía 12 años, subieron a la fiesta, según costumbre, y cuando
termino se volvieron, pero el Niño Jesús se
quedo en Jerusalén, sin que sus padres se
dieran cuenta. Pensando que estaba en la
caravana, anduvieron camino de un día.
Buscárnosle entre los parientes y conocidos y
al no hallarle se volvieron a Jerusalén en busca
suya. Al cabo de tres días lo hallaron en el
templo, en medio de los maestros,
escuchándoles y haciéndoles preguntas; todos
los que lo oían quedaban asombrados de su
talento y las respuestas que daba. Cuando sus
padres le vieron quedaron sorprendidos y le
dijo su madre: “Hijo, ¿Por qué nos has tratado
así? Mira que tu padre y yo te hemos buscado angustiados”. El les contesto:
“Por que me buscaban? ¿No sabían que ya debía estar en la casa de mi
Padre?”. Pero ellos no comprendieron lo que les quería decir. El bajo con
ellos a Nazaret y siguió bajo su autoridad. Su madre conservaba todo esto
en su corazón. <br>
<b>Palabra del Señor.</b>

{% endblock%}
