{% extends 'baseDiasN.html' %}
{% load static %} 

{% block titulo_dia%} Dia 9 {% endblock %}

{% block lectura_biblica %}
<b> EL HIJO DE DIOS</b>
<br>(Lectura del santo evangelio: Juan 1)<br>
Al principio ya existía el Hijo de Dios y el Hijo estaba junto a Dios, y el Hijo
era Dios. Todo se hizo por El; y sin El no existe nada de lo que se ha hecho.
El era la vida y la vida era la luz de los hombres. Y
la luz brilla en las tinieblas, y las tinieblas no la
pudieron vencer. El mundo fue hecho por el Hijo
de Dios. El es la luz verdadera que alumbra a todo
hombre que viene a este mundo. Vino a su casa y
los suyos no lo reconocieron. Per a todos los que lo
reciben les da poder de llegar a ser hijos de Dios.
Y el Hijo de Dios se hizo hombre y vivió entre
nuestros, y hemos visto su gloria, que recibe del
Padre como Hijo único, lleno de gracia y de verdad.<br>
<b>Palabra del Señor.</b>
{% endblock %}