{% extends 'baseDiasC.html' %}
{% load static %} 

{% block titulo_diaC%} Dia 1{% endblock %}

{% block lectura_diaria%}
Corría el año de 1594, cuando una prolongada sequía azotaba
duramente muchos pueblos de la provincia de Loja en Ecuador.
Tanto tiempo sin llover dejó el suelo árido y seco, perdiendo los
campesinos todas sus esperanzas de lograr alguna cosecha. La
situación se agravó con una plaga de ratones que consumió en breve
todo cuanto pudo sobrevivir a los rayos del sol. De toda la comarca,
el lugar que más sufrió los rigores de la sequía y de la plaga fue el
Cisne; una pequeña aldea indígena junto a la laguna Zurihuiña y a
una roca escarpada llamada Potochuro que desde muy antiguo se
usaba como santuario religioso. Aquel lugar era muy frecuentado
por los llamados brujos quienes mantenían sus supersticiones y no
querían aceptar la fe católica.
Ante esta tragedia los cisneños debieron tomar la difícil decisión
de abandonar sus hogares en busca de tierras mejores que les
permitieran sobrevivir. Antes de partir elevaron sus fervorosas
plegarias al cielo y pronto encontraron respuesta: el 12 de octubre
de 1594 la Virgen María se apareció para confortarles
diciéndoles: “Confíen siempre en mí, porque yo les voy a ayudar
y proteger para que nunca más vuelvan a tener hambre.
Levanten en este lugar una iglesia, conviértanse de veras, que
aquí estaré siempre con ustedes”. Alegres los moradores,
obedecieron a la voz de la madre del cielo y comenzaron a
construir una ermita en el mismo lugar de la misteriosa
aparición…, aquel mismo día comenzó a llover.
Asombrados los cisneños comenzaron a venerar a la Madre de
Dios que pusieron bajo la advocación de la Virgen de El Cisne.
Al comenzar esta novena también nosotros queremos convertir
nuestro corazón y poner al Señor en el centro de nuestra vida.

{% endblock %}