{% extends 'baseDiasC.html' %}
{% load static %} 

{% block titulo_diaC%} Dia 2{% endblock %}

{% block lectura_diaria%}
Tras el milagro de la lluvia, los cisneños encargaron la
            confección de una pequeña imagen de la Virgen, que por su
            delicadeza y sencillez se ganó pronto el aprecio y la devoción de
            los habitantes. Fue encargada en Quito por los nativos del pueblo
            y tallada por el escultor español Diego de Robles en madera de
            cedro rojo. Este artista había trabajado ya en la imagen de la
            Virgen del Quinche.
            Sin contar el escabel de sus pies, la imagen mide sesenta y seis
            centímetros y representa a la Virgen María con el niño en su
            mano derecha. Tiene un rostro ovalado, blanco como el
            alabastro, con grandes y abrillantados ojos que expresan
            amabilidad y dulzura. Sus labios son finos y las cejas de negro
            azabache, bien arqueadas. Los brazos están airosamente
            entreabiertos. Con la mano derecha empuña un cetro dorado y
            con la siniestra sostiene cariñosamente al Niño Jesús que clava
            sus ojos en el rostro de su Madre formando ambos un grupo
            encantador. A los pies de la imagen descansa una media luna de
            plata dorada, con sus cuernos torcidos hacia lo alto.
            Esta misma imagen preside desde hace más de 400 años este
            humilde pueblo de El Cisne y se ha constituido en la Madre
            tierna y amorosa para todos los desterrados que le claman
            misericordia y perdón.
            Nada es comparable con la popularidad de esta devoción que se
            extiende por toda la nación. Desde la alcoba del potentado hasta
            la humilde choza del campesino en todos hogares ecuatorianos
            puede verse en un lugar destacado la imagen de Nuestra Señora
            de El Cisne que se venera con ternura y devoción. También
            nosotros queremos poner a Nuestra Señora la Virgen María en el
            centro de nuestra vida y tener un amor filial sincero y profundo.

{% endblock%}
