{% extends 'baseDiasC.html' %}
{% load static %} 

{% block titulo_diaC%} Dia 2{% endblock %}

{% block lectura_diaria%}
Tras el milagro de la lluvia, los cisneños encargaron Después de tan milagrosa intervención en que la Virgen
            María
            liberó Loja de la sequía y de las ratas, la devoción a Nuestra
            Señora de El Cisne se extendió rápidamente por toda la
            provincia llegando la noticia de sus proezas a lugares lejanos. A
            finales del año 1595 o en los inicios de 1596 los cisneños ya
            tenían su imagen presidiendo el santuario que ellos mismo
            habían construido.
            Espontáneamente un creciente número de peregrinos comenzó a
            llegar hasta el lugar de la aparición con el fin de cumplir con sus
            votos. A este singular movimiento correspondió el celo y la
            piedad de los prelados, quienes muy pronto fundaron una
            cofradía y señalaron el 8 de Septiembre, día del nacimiento de la
            Virgen María, como la fiesta principal de la localidad. El clero,
            la nobleza y el pueblo se inscribieron rápidamente en la cofradía
            que fue erigida canónicamente bajo el título de Nuestra Señora
            de El Cisne. El cabildo civil, en representación de todo el
            pueblo, acudió anualmente al Santuario a celebrar dicha fiesta,
            con cuyos gastos corría la misma corporación, y acordó
            reconocer unánimemente a la Virgen Santísima protectora de
            Loja y su provincia. Nosotros hemos venido aquí para venerar a
            la Madre de Dios, sabemos que ella nos acompaña en nuestra
            vida por eso a ella recurrimos para ser siempre fieles a Jesús.

{% endblock%}