{% extends 'baseDiasC.html' %}
{% load static %} 

{% block titulo_diaC%} Dia 2{% endblock %}

{% block lectura_diaria%}
En el mes de febrero de 1617, el Visitador Don Diego de Zorrilla
            mandó al cacique de El Cisne, Martín Calzama, un edicto por el
            que se ordenaba trasladar definitivamente la imagen a
            Chuquiribamba. En cumplimiento de dicha ordenanza, los
            habitantes de El Cisne hubieron de portar la imagen camino de
            su nuevo emplazamiento montaña arriba. Sin embargo, apenas
            coronaron la montaña desde donde se contemplan las verdes
            estribaciones de Chuquiribamba, cuando un huracán furioso se
            desató contra el poblado. Muy grande fue el estupor que
            sobrecogió a los naturales de Chuquiribamba, y conociendo por
            estas demostraciones del cielo cuál era la voluntad de Dios,
            rogaron a sus huéspedes que volviesen al Cisne con su imagen
            cesando en ese momento la borrasca. Por tres veces las
            autoridades conminaron a los cisneños a reducirse a
            Chuquiribamba y por tres veces se repitió el extraño prodigio.
            Entre las prerrogativas y los dones de esta devoción resalta el don
            de las lágrimas; una singular prerrogativa de conmover corazones.
            Muchos han sentido que tan sólo con ponerse ante su imagen se
            sienten enternecidos. Qué de transmutaciones, qué de
            conversiones verdaderamente estupendas no se operan cada año,
            en el sigilo de los confesionarios, entre los muchos peregrinos que
            acuden al Santuario. Usted también puede recibir este don de sanar
            el corazón con unas lágrimas que no son de tristeza sino de amor.
{% endblock%}