{% extends 'baseDiasC.html' %}
{% load static %} 

{% block titulo_diaC%} Dia 2{% endblock %}

{% block lectura_diaria%}
Las romerías y las peregrinaciones al santuario de El Cisne
            surgieron rápida y espontáneamente como una manifestación
            pública de fe y de devoción a María. Estas manifestaciones son
            tan antiguas como la misma advocación. Nadie las propuso ni las
            hizo germinar, ellas mismas surgieron popularmente del cariño y
            el afecto de los ecuatorianos hacia la madre de Dios. Así, sin
            distinción de clases o estamentos, sin tener en cuenta la edad o la
            condición social, adultos y niños, ricos y pobres, sabios o
            ignorantes son muchos los que toman el hábito de peregrinos y
            el báculo de caminantes para encaminarse hacia El Cisne y
            venerar la sagrada imagen.
            La romería más solemne tuvo lugar en el año de 1830, después del
            decreto de Bolívar por el cual la fiesta de Nuestra Señora de El
            Cisne se trasladó a la ciudad de Loja. Desde entonces la fiesta se
            celebra el 15 de agosto en el Cisne y el 8 de septiembre en Loja,
            un cambio que se hizo contando con el acuerdo de la autoridad
            eclesiástica. El Santuario de Loja que podemos contemplar hoy
            mide 1800 metros cuadrados y consta de tres naves en forma de
            crucero. Comenzó a construirse en 1934, cuatro años después de la
            Coronación Canónica de la Virgen Santísima, y concluido en
            1979, siendo consagrado el 12 de Agosto de ese mismo año. Más
            hermoso que aquel santuario material es ese otro santuario hecho
            de piedras vivas: la Iglesia a la que usted debe amar como a una
            madre y en la que debe participar más frecuente y profundamente.
{% endblock%}