{% extends 'baseDiasC.html' %}
{% load static %} 

{% block titulo_diaC%} Dia 2{% endblock %}

{% block lectura_diaria%}
Son muchos los milagros que se han producido por intercesión
de la Virgen de El Cisne. En 1874, la esposa del distinguido
caballero Don Agustín Vázquez, se entregó, con asombro de la
población, al feo vicio de la borrachera. Manchó con ello el
honor de la familia e hizo del hogar un foco de discordias. En tal
desventura su esposo miraba el cuadro de la bendita madre de El
Cisne jurándole que si se dignaba redimir a su esposa del
alcoholismo le serviría hasta su muerte en el santuario. Aquel
mismo día su mujer dejó de tomar y ambos cónyuges donaron a
la venerada imagen un rosario y una gargantilla de perlas finas
que se conservaron en la catedral hasta el 8 de Septiembre de
1922 en que fueron robadas por unas manos sacrílegas.
En 1848 una espantosa nube de langostas atacó las localidades de
Malacatos, Vilcabamba, San José, Chinguilamaca. La nube de
insectos ocultó la luz del sol y dejó tras de sí unos campos
convertidos en eriales. Angustiados sus habitantes, clamaron a la
Virgen de El Cisne rogándole que hiciera desaparecer tan espantoso
flagelo. Organizaron al efecto una devota procesión con cantos y
rezos, contemplando asombrados que, en escasos segundos,
desapareció el terrible azote. En testimonio de gratitud estos
pueblos donaron piadosamente al santuario una langosta de oro.
Basta la fe para conseguir muchas cosas del Señor, pero una fe que
se refleje en la vida y que busque colocar al Señor en el centro.
{% endblock%}