{% extends 'baseDiasC.html' %}
{% load static %} 

{% block titulo_diaC%} Dia 2{% endblock %}

{% block lectura_diaria%}
Entre los lugares singularmente beneficiados por María podemos
contar a la ciudad de Loja, que por ello ha merecido el título de
“ciudad de María”. Cuando en 1548 un puñado de valientes
españoles, encabezados por Alonso de Mercadillo, vinieron a la
conquista de esta tierra y fundaron la ciudad de Loja en la valle
de Cuxibamba, la nueva fundación fue denominada como
Ciudad de la Purísima Concepción de Loja. El cabildo lojano,
interpretando el sentir del pueblo, quiso encabezar sus primeras
ordenanzas con el siguiente artículo: “Nadie se atreve a ofender
a María o blasfemar de su santísimo nombre”. Desde entonces el
pueblo lojano ha manifestado un sentimiento de inmensa gratitud
al pronunciar el dulcísimo nombre de la Virgen de El Cisne.
También el clero, la porción predilecta de María, se ha
sumado a este movimiento de piedad. En 1925 un buen número de
sacerdotes estaba haciendo los ejercicios espirituales, cuando la
Santísima Virgen inspiró la feliz idea de establecer una fiesta anual
para el clero parroquial. Todos acogieron con entusiasmo esta
inspiración y, desde entonces, la Santísima Virgen de El Cisne
recibe cada año el homenaje colectivo de todo su clero con una
misa solemne que tiene lugar en la catedral de Loja el 13 de
Septiembre de cada año. Ese día la Santísima Virgen María acoge
bondadosa el tributo de todos sus sacerdotes a los que ella ama con
especial ternura. Esos sacerdotes necesitan de su oración y de su
apoyo para ser los buenos pastores que Dios quiere. ¡No lo olvide!

{% endblock%}