{% extends 'baseDiasC.html' %}
{% load static %} 

{% block titulo_diaC%} Dia 2{% endblock %}

{% block lectura_diaria%}
<b>Gracias y beneficios de Nuestra Señora de El Cisne</b> <br>
<br>
Desde los inicios de la devoción de la Virgen de El Cisne, los
obispos de Quito, Cuenca y Loja, tuvieron siempre sus ojos fijos
en el Santuario lojano. En su anhelo por alcanzar gracias y
privilegios de Roma, transmitieron a la Santa Sede noticias
detalladas de la devoción pidiendo diversas gracias para
solemnizar y aumentar su culto y devoción. Así, en 1753 el Papa
Benedicto XIV confirmó la existencia de la Cofradía de Nuestra
Señora de El Cisne enriqueciéndola con dos indulgencias
plenarias que podían ganarse el 15 de agosto y el 8 de
septiembre. El Papa Pío IX, a petición del Mons. Juan María
Riofrío, acrecentó este tesoro de indulgencias. Precisamente este
obispo formuló y aprobó los primeros estatutos de la cofradía y
su sucesor, el obispo José Massiá, los confirmó y amplió en
1881. El 23 de Agosto de 1919, Mons. Carlos de la Torre obtuvo
de la Santa Sede el privilegio de celebrar la fiesta de Nuestra
Señora de El Cisne en la Diócesis de Loja, bajo el rito de
primera clase con octava. Por último Mons. Guillermo José
Harris obtuvo de la Santa Sede el privilegio de la coronación
canónica de la imagen que tuvo lugar durante el pontificado del
Papa Pío XI. La coronación canónica es una distinción que la
Santa Sede concede para resaltar la devoción de una imagen de
la Virgen y consiste en imponerle una corona de reina sobre su
cabeza. La imagen de la Virgen del Cisne fue coronada
canónicamente el 8 de Septiembre de 1930.

{% endblock%}