{% extends 'baseDiasC.html' %}
{% load static %} 

{% block titulo_diaC%} Dia 2{% endblock %}

{% block lectura_diaria%}

Abrumado por un sol caluroso de verano, un tuberculoso del
Perú, que hacía su romería al Cisne, cayó al suelo atormentado
por la sed. Revolcándose en el suelo y al borde de la muerte
levantó sus ojos hacia el cielo clamando: ¡Madre mía de El
Cisne, no consientas que muera! ¡dame agua! Y luego en un
arranque de paroxismo, raspó el suelo reseco con su mano
huesuda. Milagrosamente, de la grieta que provocó con su uña
corrió un hilo de agua cristalina de la que pudo saciar su sed. Al
instante derramó lágrimas de gratitud ante la Virgen. Hoy esa
fuente sigue fluyendo con la denominación de Agua del Milagro.
En 1970, Virgilio Aguirre llegó hasta el Santuario de El
Cisne procedente de la provincia de El Oro. Traía a su hijo
Norman enfermo de poliomielitis que había seguido un costoso
tratamiento en Guayaquil y en otras ciudades sin lograr ningún
beneficio. Al llegar al Santuario trasladó en brazos a su hijo
hasta las plantas de la Santísima Virgen. El joven, que tenía 13
años de edad, se encomendó fervorosamente a la Virgen y,
durante el transcurso de la misa, notó como sus miembros y todo
su cuerpo adquiría nueva vida. De inmediato, pudo arrodillarse a
la vez que escuchaba una voz que le decía: “ya estas curado” y
ante el asombro del padre y de los numerosos devotos de la
Virgen, salió del Santuario por sus propios pies. ¡Qué grande el
poder de la eucaristía! No falte nunca a la misa del domingo y si
puede vaya a diario; el Señor hará cosas grandes con su vida.

{% endblock%}